.footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 150px;
  padding-top: 30px;
}

.footer div {
  float: table;

  width: 33%;

  text-align: center;
  display: inline-block;
}

.footer div * {
  vertical-align: middle;
  text-align: center;
}

.footer ul {
  list-style-type: none;
}

.footer img {
  width: 25px;
}
