.pageSelection {
  width: 20%;
  float: left;

  margin: 5px;
  padding: 5px;

  border-radius: 25px;
  border: 2px solid #000;
  box-shadow: 10px 10px 5px grey;

  background-color: white;
}

.pageEditor {
  width: 75%;
  float: left;

  margin: 5px;
  padding: 5px;

  border-radius: 25px;
  border: 2px solid #000;
  box-shadow: 10px 10px 5px grey;

  background-color: white;
}

.pageEditor * div, .pageEditor {
  margin-left: 15px;
  padding: 2px;
  border: 1px solid #000;
}

.pageEditor input {
  width: 100%;
}
