.selectionBar {
  display: inline-table;
  height: 80vh;
  width: 20%;
  background-color: black;
}

.pageData {
  display: inline-table;
  width: 70%;
  background-color: black;
}

.pageData img {
  width: 100%;
}

.pageData > * {
  margin: 100px;
}
